<%- include("./commons/boiler") %>
<script>
    const meetingNameSpace=io(`/meetings`,{auth:{userName:"<%=user.fullname%>"}});
</script>
<body class="w-screen h-screen items-center bg-gray-300 overflow-hidden">
    <div class="w-[100%] h-[100%] rounded-lg">
        <div class="client-- flex flex-wrap w-6/8 h-full">
            <div class="w-[80%] h-screen">
                <div class="bg-white flex justify-center items-center video--face w-[95%] h-[60%] p-4 m-4 rounded-lg overflow-hidden">
                    <video src="" id="videoMeetingEl" controls autoplay class="w-full h-full  rounded-lg"></video>
                </div>            
                <div class="other-video flex flex-wrap justify-start overflow-x-auto bg-gray-300 h-[40%]">
                        <!--  -->
                        <!--  -->
                </div>
            </div>
            <div class="w-[20%] h-full">
                    <div class="w-[90%] bg-white h-[86%] flex flex-col items-center m-[4%] rounded-lg">
                        <span class="text-[30px]">Group Chat</span>
                        <span class="border-2 w-full"></span>
                        <div class="video-chats--box h-[80%] w-[90%] overflow-auto bg-white rounded-lg">

<!--  -->
                        </div>
                        <div class=" absolute bottom-2 bg-gray-400 p-3 rounded-lg">
                            <form action="" class="video-calling-msgbox-form flex justify-center items-center ">
                                <textarea class="rounded-lg w-[225px] p-2" placeholder="Type Message..." required></textarea>
                                <button type="submit" class="ml-3"><i class="fa-solid fa-paper-plane bg-red-400 p-4 rounded-full hover:bg-red-200"></i></button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class=" fixed left-[50%] bottom-8 w-0">
        <div class="flex justify-center bg-red-200">

        
                    <button class="p-3 border-2 border-black hover:bg-white rounded-lg text-[25px] m-3 hover:pointer">
                        <i class="fa-solid fa-video"></i>
                        <!-- <i class="fa-solid fa-video-slash"></i> -->
                    </button>
                    <button class="p-3 border-2 border-black hover:bg-white rounded-lg  text-[25px] m-3 hover:pointer">
                        <i class="fa-solid fa-volume-high"></i>
                        <!-- <i class="fa-solid fa-volume-xmark"></i> -->
                    </button>
                    <button class="p-3 border-2 border-black hover:bg-white rounded-lg  text-[25px] m-3 hover:pointer">
                        <i class="fa-solid fa-desktop"></i>
                    </button>
                    <button class="p-3 border-2 border-black hover:bg-white rounded-lg  text-[25px] m-3 hover:pointer" >
                        <i class="fa-solid fa-record-vinyl"></i>
                    </button>
                    <button class="p-3 border-2 border-black hover:bg-white rounded-lg  text-[25px] m-3 hover:pointer">
                        <i class="fa-solid fa-camera-retro"></i>
                    </button>
                    <button class="p-3 border-2 border-black rounded-lg text-white bg-red-400 flex justify-center items-center m-3  hover:pointer">
                        <i class="fa-solid fa-x"></i>&nbsp;
                        <span class="font-bold">END</span>
                    </button>
        </div>
    </div>

    <script>
        const roomName="<%=roomName%>";
        const ComUser="<%=user.fullname%>"
        const userNameForMeeting="<%=user.fullname%>";
        meetingNameSpace.emit("joining",roomName);
    </script>
    <script src="/js/videoMeetingLogics.js"></script>
</body>
</html>