<%- include('./commons/boiler.ejs') %>
<body>
        <%- include("./commons/header")%>
        <div class="p-4 xl:ml-80">
          <nav class="block w-full max-w-full bg-transparent text-white shadow-none rounded-xl transition-all px-0 py-1">
            <div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center">
              <div class="capitalize">
                <nav aria-label="breadcrumb" class="w-max">
                  <ol class="flex flex-wrap items-center w-full bg-opacity-60 rounded-md bg-transparent p-0 transition-all">
                    <li class="flex items-center text-blue-gray-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">
                      <a href="#">
                        <p class="block antialiased font-sans text-sm leading-normal text-blue-900 font-normal opacity-50 transition-all hover:text-blue-500 hover:opacity-100">dashboard</p>
                      </a>
                      <span class="text-gray-500 text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
                    </li>
                    <li class="flex items-center text-blue-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-blue-500">
                      <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">Meeting</p>
                    </li>
                  </ol>
                </nav>
                <h6 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-relaxed text-gray-900">Meeting</h6>
              </div>
              <div class="flex items-center">
                <div class="mr-auto md:mr-4 md:w-56">
                  <div class="relative w-full min-w-[200px] h-10">
                    <input class="peer w-full h-full bg-transparent text-gray-700 font-sans font-normal outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 border focus:border-2 border-t-transparent focus:border-t-transparent text-sm px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-blue-500" placeholder=" ">
                    <label class="flex w-full h-full select-none pointer-events-none absolute left-0 font-normal peer-placeholder-shown:text-gray-500 leading-tight peer-focus:leading-tight peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500 transition-all -top-1.5 peer-placeholder-shown:text-sm text-[11px] peer-focus:text-[11px] before:content[' '] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-blue-gray-400 peer-focus:text-blue-500 before:border-blue-gray-200 peer-focus:before:border-blue-500 after:border-blue-gray-200 peer-focus:after:border-blue-500">Type here</label>
                  </div>
                </div>
                <button class="relative  menu--toggle--btn middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 grid xl:hidden" type="button">
                  <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" stroke-width="3" class="h-6 w-6 text-blue-gray-500">
                      <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
                    </svg>
                  </span>
                </button>
                <a href="#">
                  <button class="middle none font-sans font-bold center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 hidden items-center gap-1 px-4 xl:flex" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
                      <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
                    </svg>User </button>
                  <button class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30 grid xl:hidden" type="button">
                    <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
                        <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
                      </svg>
                    </span>
                  </button>
                </a>
                <button class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
                  <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
                      <path fill-rule="evenodd" d="M11.078 2.25c-.917 0-1.699.663-1.85 1.567L9.05 4.889c-.02.12-.115.26-.297.348a7.493 7.493 0 00-.986.57c-.166.115-.334.126-.45.083L6.3 5.508a1.875 1.875 0 00-2.282.819l-.922 1.597a1.875 1.875 0 00.432 2.385l.84.692c.095.078.17.229.154.43a7.598 7.598 0 000 1.139c.015.2-.059.352-.153.43l-.841.692a1.875 1.875 0 00-.432 2.385l.922 1.597a1.875 1.875 0 002.282.818l1.019-.382c.115-.043.283-.031.45.082.312.214.641.405.985.57.182.088.277.228.297.35l.178 1.071c.151.904.933 1.567 1.85 1.567h1.844c.916 0 1.699-.663 1.85-1.567l.178-1.072c.02-.12.114-.26.297-.349.344-.165.673-.356.985-.57.167-.114.335-.125.45-.082l1.02.382a1.875 1.875 0 002.28-.819l.923-1.597a1.875 1.875 0 00-.432-2.385l-.84-.692c-.095-.078-.17-.229-.154-.43a7.614 7.614 0 000-1.139c-.016-.2.059-.352.153-.43l.84-.692c.708-.582.891-1.59.433-2.385l-.922-1.597a1.875 1.875 0 00-2.282-.818l-1.02.382c-.114.043-.282.031-.449-.083a7.49 7.49 0 00-.985-.57c-.183-.087-.277-.227-.297-.348l-.179-1.072a1.875 1.875 0 00-1.85-1.567h-1.843zM12 15.75a3.75 3.75 0 100-7.5 3.75 3.75 0 000 7.5z" clip-rule="evenodd"></path>
                    </svg>
                  </span>
                </button>
                <button aria-expanded="false" aria-haspopup="menu" id=":r2:" class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
                  <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-blue-gray-500">
                      <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z" clip-rule="evenodd"></path>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
          </nav>
          <div class="main-meeting--section--00 w-full min-h-[510px] bg-red-500 rounded-lg">
            <div class="text-white ">
                <div class="top-meeting-section-00">
                    <div class="pt-5 pl-5 pr-5 ">
                        <div>
                          <h1 class="font-bold">Schedule Meeting</h1>
                        
                        </div>
                        <div class="w-full border-2 bg-gray-900"></div>
                        <div class="rounded-lg mt-2 w-full h-[250px] sm:h-[80px] bg-gray-200">
                          <div>
                            <form class="text-black p-4 flex justify-between align-middle flex-col sm:flex-row" action="/meeting/addmeeting" method="post">
                              <div class="flex flex-col sm:flex-row my-4">
                              <label for="schedule_date">Date : </label>
                              <input type="Date" id="schedule_date" name="date" required>
                              <label for="">Time : </label>
                              <input type="time" id="schedule_time" name="time" required>
                              <label for="meeting_type">Type : </label>
                              <select name="meeting_type" id="meeting_type" required>
                                <option value="" selected disabled>Select</option>
                                <option value="urgent">Urgent!</option>
                                <option value="lecture">Lecture</option>
                                <option value="event">Event</option>
                                <option value="meeting">Meeting</option>
                                <option value="meetup">Meetup</option>
                              </select>
                              </div>
                              <button type="submit"class="border-2 border-black hover:bg-red-400 hover:text-white transition-all p-2 text-red-600 rounded-lg">Schedule Meeting</button>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="middle-meeting-section-00">
                  <div class="p-5">
                    <div>
                      <h1 class="font-bold">Meeting You Schedule</h1>
                      <div class="w-full border-2 bg-gray-900"></div>
                      <div class="my_meeting_cards flex flex-row space-x-5 overflow-x-auto">
                        <%if(!urMeetings){%>
                          <div class="w-full text-center p-6 text-[20px]"> - - No Meetings - - </div>
                          <%}%>
                        
                        <%for(let i of urMeetings){%>
                          <%console.log(i)%>
                        <div class="min-w-[310px] rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
                          
                          <div class="p-6 pb-0">
                            <i class="fa-solid fa-business-time mb-4 text-5xl h-12 w-12 text-red-500"></i>
                            <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                              <%=(i.agenda.charAt(0)).toUpperCase()+(i.agenda).slice(1)%>
                            </h5>
                            
                              <div class="font-normal leading-relaxed antialiased w-[240px] truncate">
                                  <span class="whitespace-nowrap">Time: <%=i.startAt%></span><br/>
                                  <span class="whitespace-nowrap">Type: <%=i.agenda%></span><br/>
                                  <span class="whitespace-nowrap">UserID: <span id="Meetinglink" class="hidden"><%=i.meetingID%></span><button class="copybtn border-2 border-red-300 p-2 rounded-lg">Copy Link</button></button></span><br/>
                                  <span>password:<%=i.password%></span>
                              </div>
                           
                          
                          </div>
                         
                          <div class="p-6 pt-0">
                            <a
                              class="!font-medium !text-red-900 !transition-colors hover:!text-red-500"
                              href="<%=i.meetingLink%>"
                            >
                              <button
                                class="flex select-none items-center gap-2 rounded-lg py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                type="button"
                                data-ripple-dark="true"
                              >
                                Join
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke-width="2"
                                  stroke="currentColor"
                                  aria-hidden="true"
                                  class="h-4 w-4"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                                  ></path>
                                </svg>
                              </button>
                            </a>
                          </div>
                        </div>
                        <% } %>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div  class="bottom-meeting-section-00">
                  <div class="p-5">
                    <div>
                      <h1 class="font-bold">Today's Meetings</h1>
                      
                    </div>

                    <div class="w-full border-2 bg-gray-900"></div>
                    <div class="meeting--cards">
                        <div class="overflow-x-auto flex gap-x-6 pb-3">
                          <%if(!meetings.length){%>
                            <div class="w-full text-center p-6 text-[20px]"> - - No Meetings - - </div>
                          <%}%>
                          <!-- component -->
                          <%for(let i of meetings){%>
                            <div class="min-w-[310px] rounded-xl bg-white bg-clip-border text-gray-700 shadow-md my-4">
                              
                              <div class="p-6 pb-0">
                                <i class="fa-solid fa-business-time mb-4 text-5xl h-12 w-12 text-red-500"></i>
                                <h5 class="mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                                  <%=(i.agenda.charAt(0)).toUpperCase()+(i.agenda).slice(1)%>
                                </h5>
                                
                                  <div class="font-normal leading-relaxed antialiased w-[250px] truncate">
                                      <span>CreatedBy : <%=i.createdBy.fullname%></span><br/>
                                      <span class="whitespace-nowrap">Time: <%=i.startAt%></span><br/>
                                      <span>Type: <%=i.agenda%></span><br/>
                                      <span class="whitespace-nowrap">UserID: <%=i.meetingID%></span><br/>
                                      <span>password:<%=i.password%></span>
                                  </div>
                               
                              
                              </div>
                             
                              <div class="p-6 pt-0">
                                <a
                                  class="!font-medium !text-red-900 !transition-colors hover:!text-red-500"
                                  href="<%=i.meetingLink%>"
                                >
                                  <button
                                    class="flex select-none items-center gap-2 rounded-lg py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    type="button"
                                    data-ripple-dark="true"
                                  >
                                    Join
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      fill="none"
                                      viewBox="0 0 24 24"
                                      stroke-width="2"
                                      stroke="currentColor"
                                      aria-hidden="true"
                                      class="h-4 w-4"
                                    >
                                      <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                                      ></path>
                                    </svg>
                                  </button>
                                </a>
                              </div>
                            </div>
                            <% } %>
    


    </div>

</div>
                </div>

                </div> 
            </div>
          </div>
          <div class="text-blue-gray-600">
            <footer class="py-2">
                <div class="w-full pt-5 px-4 mb-8 flex ">
                    <div class="text-sm text-gray-700 py-1">
                        Made with <a class="text-gray-700 font-semibold" href="https://www.material-tailwind.com/docs/html/form?ref=tailwindcomponents" target="_blank">💖</a> by <a href="https://www.creative-tim.com?ref=tailwindcomponents" class="text-gray-700 font-semibold" target="_blank">PROJECT IGI</a>.
                    </div>
                  </div>
            </footer>
          </div>
</div>

</div>   
<div class="absolute message-notification-container top-0 right-12">

</div> 
</body>
<script>
          function copyLink() {
            const linkInput = document.querySelector('#Meetinglink');
            console.log(linkInput.innerHTML);
            navigator.clipboard.writeText(linkInput.innerHTML)
            document.execCommand('copy');
            console.log("copied");
        }
        const btnToCopyLink=document.querySelector(".copybtn");
        btnToCopyLink.addEventListener("click",()=>{
          copyLink();
        })
</script>
</html>